.right-contents__main__chat-display
  %span.right-contents__main__chat-display__user<>
    user
  %span.right-contents__main__chat-display__post-date<>
    2000/01/01(Mon) 00:00:00
  .right-contents__main__chat-display__article
    こんにちは！