.left-contents__main__display
  - current_user.groups.each do |group|
    = link_to group_messages_path(group) do
      .left-contents__main__display__group
        = group.name
      .left-contents__main__display__chat
        メッセージはまだありません。