::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}

a {
  text-decoration: none;
}

label input {
  display: none;
}

.top-log {
  width: $weight-max-vw;
  background-color: $bright-blue;
  color: $font-white;
  text-align: center;
}

.left-contents {
  height: $height-max-vh;
  width: $left-contents-weight;
  float: left;
  &__header {
    height: $header-height;
    background-color: #253141;
    padding: 0 $left-contents-side-padding;
    display: flex;
    line-height: $header-height;
    &__user {
      @include left-contents-font-style(16px, bold);
    }
    &__icon-display {
      margin-left: auto;
      &__new-group-icon {
      @include left-header-icon;
      } 
      &__edit-account-icon {
      @include left-header-icon;
      }
    }
  }
  &__main {
    height: calc(#{$height-max-vh} - #{$header-height});
    background-color: #2f3e51;
    padding: 0 $left-contents-side-padding;
    overflow: scroll;
    &__display {
      padding: 20px 0;
      &__group {
        @include left-contents-font-style(15px, bold);
      }
      &__chat {
        @include left-contents-font-style(11px, bold);
        padding-top: 5px;
        margin-bottom: 40px;
      }
    }
  }
}

.right-contents {
  height: $height-max-vh;
  width: calc(#{$weight-max-vw} - #{$left-contents-weight});
  float: right;
  position: relative;
  &__header {
    height: $header-height;
    padding: 0 $right-contents-side-padding;
    display: flex;
    border-bottom: 1px solid $bright-gray;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: scroll;
    &__display {
      margin-top: 35px;
      &__group {
        font-size: 20px;
        color: #333333;
        margin-bottom: 15px;
      }
      &__member {
        font-size: 12px;
        color: #999999;
        display: flex;
        &__name {
          margin-left: 5px;
        }
      }
    }
    &__edit-button {
      height: $edit-button-height;
      color: $bright-blue;
      padding: 0 20px;
      line-height: $edit-button-height;
      position: absolute;
      top: 28px;
      right: 40px;
      border: 1px solid $bright-blue;
      box-sizing: border-box;
    }
  }
  &__main {
    height: calc(#{$height-max-vh} - #{$header-height} - #{$form-height});
    background-color: #fafafa;
    padding: 46px $right-contents-side-padding;
    overflow: scroll;
    box-sizing: border-box;
    &__chat-display {
      margin-bottom: 40px;
      &__user {
        @include chat-display-font-style(16px, $chat-font-color, bold, 0);
      }
      &__post-date {
        @include chat-display-font-style(12px, #999999, normal, 0 0 0 10px);
      }
      &__article {
        @include chat-display-font-style(14px, $chat-font-color, normal, 10px 0 0 0);
      }
    }
  }
  &__form {
    height: $form-height;
    width: calc(#{$weight-max-vw} - #{$left-contents-weight});
    background-color: $bright-gray;
    padding: (($form-height - $form-display-height) / 2) $right-contents-side-padding;
    box-sizing: border-box;
    &__display {
      
      display: flex;
      &__message-box {
        position: relative;
        width: 100%;
        &__text {
          height: $form-display-height;
          width: 100%;
          padding: 0 40px 0 10px;
          box-sizing: border-box;
        }
        &__photo-icon {
          font-size: 20px;
          color: #000000;
          position: absolute;
          top: 10px;
          right: 125px;
          cursor: pointer;
        }
      }
      &__send-button {
        height: $form-display-height;
        width: 100px;
        color: $font-white;
        background-color: $bright-blue;
        padding: 0 30px;
        margin-left: 15px;
        cursor: pointer;
      }
    }
  }
}

.new_message {
  display: flex;
}

.field_with_errors {
  width: 100%;
}

.lower-message__image {
  width: 200px;
}

.lower-message__content {
  margin-bottom: 10px;
}