@mixin left-header-icon {
  color: $font-white;
  margin-left: 5px;
  text-decoration: none;
}

@mixin left-contents-font-style($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

@mixin chat-display-font-style($size, $color, $weight, $margin) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  margin: $margin;
}

$font-white: #ffffff;
$bright-blue: #38AEF0;
$chat-font-color: #434A54;
$bright-gray: #eeeeee;
$left-contents-side-padding: 20px;
$right-contents-side-padding: 40px;
$header-height: 96px;
$edit-button-height: 40px;
$form-height: 100px;
$form-display-height: 50px;
$left-contents-weight: 300px;
$height-max-vh: 100vh;
$weight-max-vw: 100vw;